{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "it": true,
    "describe": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true
  }
}